html,
body,
#root {
  /* height: 100%; */
  margin: 0;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
