html,
body,
#root {
  /* height: 100%; */
  margin: 0;
}

.center-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
  gap: 20px;
}
.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
